<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net35" />
  <package id="Microsoft.SharePoint2013.CSOM" version="15.0.4711.1000" targetFramework="net45" />
  <package id="Microsoft.SharePoint2016.CSOM" version="16.0.4351.1000" targetFramework="net45" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.7723.1200" targetFramework="net40" />
  <package id="NUnit" version="2.6.1" />
  <package id="RhinoMocks" version="3.6.1" />
</packages>